<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoi.south.manager.dao.AskDetailDao" >

    <select id="getAskDetails" resultType="com.xiaoi.south.manager.entity.AskDetail">
      Select user_id,ask.question as user_question,answer,visit_time,platform, ask.faq_name as question from ${tableName}  ask where 1=1
        <if test="starttime != null and starttime != ''">
            and visit_time  <![CDATA[>=]]> #{starttime}
        </if>
        <if test="endtime != null and endtime != ''">
            and visit_time  <![CDATA[<=]]> #{endtime}
        </if>
        <if test="platform != null and platform != ''">
            and platform  = #{platform}
        </if>
        <if test="user_question != null and user_question !=''">
            and ask.question  LIKE CONCAT('%',#{user_question},'%')
        </if>
    </select>
    <update id="updateQuestion"  parameterType="com.xiaoi.south.manager.entity.AskDetail">
        UPDATE ${tableName} SET question=replace(question, #{user_question},#{a_question}) WHERE question LIKE CONCAT('%',#{user_question},'%')
        <if test="starttime != null and starttime != ''">
            and visit_time  <![CDATA[>=]]> #{starttime}
        </if>
        <if test="endtime != null and endtime != ''">
            and visit_time  <![CDATA[<=]]> #{endtime}
        </if>
    </update>
    <update id="updateCilck"  parameterType="com.xiaoi.south.manager.entity.AskDetail">
        UPDATE om_log_click SET u_question=replace(u_question, #{user_question},#{a_question}) WHERE u_question LIKE CONCAT('%',#{user_question},'%')
        <if test="starttime != null and starttime != ''">
            and trigger_time  <![CDATA[>=]]> #{starttime}
        </if>
        <if test="endtime != null and endtime != ''">
            and trigger_time  <![CDATA[<=]]> #{endtime}
        </if>
    </update>
    <update id="updateEva"  parameterType="com.xiaoi.south.manager.entity.AskDetail">
        UPDATE om_log_faq_vote SET user_question=replace(user_question, #{user_question},#{a_question}),reason=replace(reason,#{user_question},#{a_question}) WHERE user_question LIKE CONCAT('%',#{user_question},'%')
        or reason LIKE CONCAT('%',#{user_question},'%')
        <if test="starttime != null and starttime != ''">
            and vote_time  <![CDATA[>=]]> #{starttime}
        </if>
        <if test="endtime != null and endtime != ''">
            and vote_time  <![CDATA[<=]]> #{endtime}
        </if>
    </update>
    <insert id="addOperating">
        insert into om_log_system(id,module,type,content,user_name,user_ip,operate_time)
        values(#{id},#{module},#{type},#{content},#{user_name},#{user_ip},#{operate_time})
    </insert>

</mapper>